.AdmHome {
	display: flex;

	main {
		width: 100%;
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		gap: 50px;

		.section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;

			.tables {
				width: 100%;
				display: flex;
				gap: 30px;
				padding-right: 20px;

				.firstTable {
					display: flex;
					flex-direction: column;
					text-align: center;
					gap: 30px;
					width: 100%;

					.tableTitle {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;

						button {
							background-color: #6d6df8;
							border-radius: 10px;
							padding: 8px 20px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
						}
						h2 {
							font-size: 24px;
							line-height: 29px;
							font-weight: 500;
							color: #111018;
						}
					}
				}
				.secondTable {
					width: 100%;
					text-align: center;
					display: flex;
					flex-direction: column;
					gap: 30px;
					.tableTitle {
						display: flex;
						align-items: center;
						justify-content: space-between;
						button {
							background-color: #6d6df8;
							border-radius: 10px;
							padding: 8px 20px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
						}
						h2 {
							font-size: 24px;
							line-height: 29px;
							font-weight: 500;
							color: #111018;
						}
					}
				}
			}
		}
	}
}

.categoryModal {
	width: 100%;
	.newCategoryForm {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 3rem;
		font-size: 22px;

		.catLabel {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			min-width: 100%;
			border-radius: 10px;
			margin: 10px 0;

			input {
				border-bottom: 1px solid black;
			}
		}
	}
}

.modalAddWord {
	transform: translateY(-50px);
	.newWordForm {
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;

		label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			border-radius: 10px;
			padding: 5px 10px;
			border: 1px solid #adadad;
			.textarea {
				width: 100%;
				display: flex;
				flex-direction: column;
				resize: none;
			}
			.audio {
				width: 100%;
			}
			.input {
				width: 100%;
				padding: 0.2rem 0.5rem;
				border-bottom: none;
				font-size: 1rem;
				outline: none;
			}
			.select {
				width: 150px;
			}
		}
	}
}

.modalEdit {
	label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		border: 1px solid #adadad;

		.input {
			padding: 0.2rem 0.5rem;
			width: 100%;
			border-bottom: none;
			font-size: 1rem;
			outline: none;
		}
		.select {
			width: 150px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.AdmHome {
		main {
			.soz-category {
				transform: translate(400px, -65px);
			}
			.section {
				.tables {
					flex-direction: column;
					.firstTable {
						width: 100%;
					}
					.secondTable {
						width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.AdmHome {
		main {
			.soz-category {
				transform: translate(200px, -65px);
			}
		}
	}
}
