* {
	margin: 0;
	padding: 0;
}
.AdmHome {
	max-width: 100%;
	display: flex;

	main {
		width: 100%;
		margin-top: 20px;
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		gap: 50px;

		.soz-category {
			width: 500px;
			display: flex;
			align-items: center;
			gap: 30px;
			transform: translate(700px, -75px);
			.soz {
				display: flex;
				align-items: center;
			}
			.category {
				display: flex;
				align-items: center;
			}
		}
		.section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			transform: translateY(-100px);

			.tables {
				width: 100%;
				display: flex;
				gap: 30px;

				.firstTable {
					display: flex;
					flex-direction: column;
					gap: 30px;
					width: 48%;

					.tableTitle {
						display: flex;
						align-items: center;
						justify-content: space-between;

						button {
							background-color: #6d6df8;
							border-radius: 10px;
							padding: 8px 20px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
						}
						h2 {
							font-size: 24px;
							line-height: 29px;
							font-weight: 500;
							color: #111018;
						}
					}
				}
				.secondTable {
					width: 48%;

					display: flex;
					flex-direction: column;
					gap: 30px;
					.tableTitle {
						display: flex;
						align-items: center;
						justify-content: space-between;
						button {
							background-color: #6d6df8;
							border-radius: 10px;
							padding: 8px 20px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
						}
						h2 {
							font-size: 24px;
							line-height: 29px;
							font-weight: 500;
							color: #111018;
						}
					}
				}
			}
		}
	}
}

.modalAddWord {
	transform: translateY(-50px);
	.newWordForm {
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;

		label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			border-radius: 10px;
			padding: 5px 10px;
			border: 1px solid #adadad;
			.textarea {
				width: 100%;
				display: flex;
				flex-direction: column;
				resize: none;
			}
			.audio {
				width: 100%;
			}
			.input {
				width: 100%;
				padding: 0.2rem 0.5rem;
				border-bottom: none;
				font-size: 1rem;
				outline: none;
			}
			.select {
				width: 150px;
			}
		}
	}
}

.modalEdit {
	label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		border: 1px solid #adadad;

		.input {
			padding: 0.2rem 0.5rem;
			width: 100%;
			border-bottom: none;
			font-size: 1rem;
			outline: none;
		}
		.select {
			width: 150px;
		}
	}
}
