.input-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 10%;
	width: 100%;
	margin: 20px 0;
	.inputField {
		width: 40%;
		display: flex;
		flex-direction: column;

		.input {
			display: flex;
			align-items: center;
			margin-top: 30px;
			height: 0;

			input {
				padding: 0.5rem 1rem;
				flex-grow: 2;
				background-color: #f3f5f7;
				border-radius: 13px;
				font-size: 18px;
				font-weight: 400;
			}
			button {
				transform: translate(-2rem, 3px);
				font-size: 25px;
			}
		}
		.results {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			ul {
				display: flex;
				border: 1px solid #adadad;
				background-color: #fff;
				display: flex;
				width: 100%;
				height: 200px;
				top: 25px;
				border-radius: 10px;
				z-index: 10;
				position: absolute;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0.6rem 2rem;
				overflow: hidden;
				li {
					width: 100%;
					border-bottom: 1px solid black;
				}
			}
		}
	}

	.soz-category {
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 30px;
		height: 50px;
		margin-top: 5px;

		.soz {
			display: flex;
			align-items: center;
		}
		.category {
			display: flex;
			align-items: center;
		}
	}
}
