.input {
	display: flex;
	align-items: center;
	width: 40%;

	input {
		padding: 0.5rem 1rem;
		flex-grow: 2;
		background-color: #f3f5f7;
		border-radius: 13px;
		font-size: 18px;
		font-weight: 400;
	}
	button {
		transform: translate(-2rem, 3px);
		font-size: 25px;
	}
}
