.sozler-dizimi {
	width: 100%;
	padding: 80px 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 40px;

	h3 {
		text-align: left;
		font-size: 24px;
		font-weight: 600;
		color: #111;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 117px;
		row-gap: 20px;
		& li::before {
			content: '\2022';
			color: #0059fb;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}

.bg-b-big {
	position: absolute;
	z-index: 0;
	top: 750px;
	left: 20px;
}
.bg-a-big {
	position: absolute;
	z-index: 0;
	top: 850px;
	left: 1050px;
}
