.table {
	border: 1px solid #adadad;
	max-width: 100%;
	.thead {
		&__tr {
			&__th {
				background: #ffffff;
				box-shadow: -10px 20px 40px -8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				padding: 0.3rem 0.6rem;
				font-size: 1rem;
				font-weight: 400;
				color: #adadad;
				border-bottom: 1px solid #adadad;
			}
		}
	}
	.tbody {
		&__tr {
			&__th {
				background: #ffffff;
				box-shadow: -10px 20px 40px -8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				padding: 0.5rem 0;
				color: #111018;
				font-size: 14px;
				font-weight: 500;
				border-bottom: 1px solid #adadad;
				.table__actions {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 20px;
					color: #fff;
					.editBtn {
						background-color: #6d6df8;
						border-radius: 10px;
						padding: 6.5px 20px;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.deleteBtn {
						height: 30px;
						border-radius: 10px;
						padding: 6.5px 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #fc7a7a;
					}
				}
			}
		}
	}
}

.modalEdit {
	transform: translateY(-50px);
	&-wrapper {
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;

		label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			border-radius: 10px;
			padding: 5px 10px;
			border: 1px solid #adadad;
			.textarea {
				width: 100%;
				display: flex;
				flex-direction: column;
				resize: none;
			}

			.audio {
				width: 100%;
			}
			.input {
				width: 100px;
				padding: 0.2rem 0.5rem;
				border-bottom: none;
				font-size: 1rem;
				outline: none;
			}
			.select {
				width: 150px;
			}
		}
	}
}
