div {
	.first {
		.bg-b-big {
			width: 180px;
			top: 40rem;
			left: 2rem;
		}
		.bg-a-big {
			width: 180px;
			top: 45rem;
			left: 45rem;
		}
	}
}

@media only screen and (max-width: 1000px) {
	div {
		.first {
			.bg-b-big {
				width: 150px;
				top: 40rem;
				left: 1rem;
			}
			.bg-a-big {
				width: 150px;
				top: 45rem;
				left: 37rem;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	div {
		.first {
			.bg-a-big {
				left: 25rem;
			}
		}
	}
}
@media only screen and (max-width: 650px) {
	div {
		.container {
			.first {
				.bg-a-big {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	div {
		.second {
			.container {
				.alphabet {
					grid-template-columns: repeat(4, 1fr);
				}
			}
		}
	}
}
