.adminWords {
	display: flex;

	main {
		padding: 1rem 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;

		.adminWordsTable {
			.adminWordsTitle {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.5rem 1rem;
				h2 {
					font-size: 24px;
					color: #111018;
					font-weight: 500;
				}
				Button {
					background-color: #1677ff;
					color: #fff;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.modalEdit {
	transform: translateY(-50px);
	&-wrapper {
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(auto-full, minmax(200px, 1fr));
		row-gap: 0;

		label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			border-radius: 10px;
			padding: 5px 10px;
			border: none;
			h2 {
				font-weight: 700;
				font-size: 20px;
			}
			.textarea {
				width: 100%;
				resize: none;
				border: 1px solid #adadad;
				padding: 5px 10px;
				resize: none;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.audio {
				padding: 5px 10px;
				width: 100%;
			}
			.input {
				width: 100%;
				padding: 0.2rem 0.5rem;
				border-bottom: 1px solid #adadad;
				font-size: 1rem;
				outline: none;
			}
			.select {
				width: 150px;
			}
		}
	}
}
