.adminWords {
	display: flex;

	main {
		padding: 1rem 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;

		.adminWordsTable {
			.adminWordsTitle {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.5rem 1rem;
				h2 {
					font-size: 24px;
					color: #111018;
					font-weight: 500;
				}
				Button {
					background-color: #1677ff;
					color: #fff;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.modalEdit {
	.btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left-btns {
			display: flex;
			align-items: center;
			.convert-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #6d6df8;
				color: #fff;
				font-size: 1.5vw;
				&:hover {
					opacity: 0.85;
				}
			}
		}
		.right-btns {
			display: flex;
			align-items: center;
			.ok-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #6d6df8;
				font-size: 1.5vw;
				&:hover {
					opacity: 0.85;
				}
			}
			.cancel-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5vw;
			}
		}
	}
	&-wrapper {
		display: grid;
		min-height: 400px;
		grid-template-columns: repeat(2, 1fr);

		label {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 18px;
			gap: 10px;
			.textarea {
				display: flex;
				flex-direction: column;
				resize: none;
				border: 2px solid #adadad;
				border-radius: 10px;
				outline: 1px solid #f3f3f3;
				overflow: auto;
				height: 100%;
				padding: 0.2rem 0.5rem;
			}

			.input {
				padding: 0.2rem 0.5rem;
				border: 2px solid #adadad;
				border-radius: 10px;
				font-size: 1rem;
				outline: 1px solid #f3f3f3;
			}
			.select {
				width: 150px;
			}
		}
	}
}
